
.weather-container{
  max-width: 400px; 
  border-radius: 8px;
  text-align: center;
  padding: 2rem;
  box-shadow: inset 0 0 10px rgba(0,0,0,0.1), 0 4px 20px rgba(0,0,0,0.2);
}

/* .weather-container h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #333;
}
.weather-container p {
  font-size: 1.2rem;
  color: #555;
}   
.weather-container input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 1rem;
} */

.weather-container button:hover {
  background-color: #1a5276;
}

.weather-container.sunny {
  background-color: #d5c7a0;
}
.weather-container.cloudy {
  background-color: #7f8c8d;
}
.weather-container.rainy {
  background-color: #5dade2;
}
.weather-container.snowy {
  background-color: #ecf0f1;
}
.weather-container.stormy {
  background-color: #2c3e50;
} 


.weather-container.default-weather {
    background: linear-gradient(to right, #2980b9, #6dd5fa);
}

/* Autocomplete List */
.weather-container ul {
    font-size: 0.9rem;
}

.weather-container li:hover {
    background-color: #f1f1f1;
}

/* Weather Card */
.weather-container .weather-card {
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 10px;
    padding: 20px;
    margin-top: 1rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    backdrop-filter: blur(5px);
    color: inherit;
}
